Package: com.junesiphone.sileonobanner
Name: SileoNoBanner
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Remove the red banner in Sileo
Maintainer: June <junesgraphics@gmail.com>
Author: JunesiPhone <junesgraphics@gmail.com>
Section: Addons (Tweaks)
Depiction: http://www.junesiphone.com/supersecret/depiction.php?iframe=depiction/sileonobanner
tag: cydia::paid
